/* UNIVERSAL STYLES ----- START*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --favorite-color: ;
    --first-color: #0d1b2a;
    --second-color: #1b263b;
    --third-color: #415a77;
    --forth-color: rgba(119, 141, 169, 1);
    --fifth-color: #e0e1dd;
    --drop-shadow: rgba(128, 128, 128, 1);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    font-weight: bold;
    flex: 100%;
    color: var(--first-color);
    margin-bottom:1vw;
    text-shadow: .25em .2em 4px var(--drop-shadow);
}

.container-flex {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.container-grid {
    width:100%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(6, minmax(5em, 1fr));
    row-gap: 1vw;
    column-gap: 1vw;

}

.grid-item {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
}

body {
    font-family: "Trebuchet MS", "sans-serif";
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-position: 30% 50%;
}

.sec-background {
    background-color: rgba(119, 141, 169, .3);
    padding: 1vw 0;
}


/* UNIVERSAL STYLES ------- END */


/* HEADER STYLES -------- START */

.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    background: rgb(3, 22, 42);
    background: linear-gradient(180deg, var(--first-color) 0%, rgb(25, 52, 80) 99%);
    padding: 20px 0;
    box-shadow: 0 .5em 20px rgba(128, 128, 128, .7);
}

.page-header h1 {
    color: var(--forth-color);
}

.page-header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-header nav ul li a {
    margin: 0 .5em;
    padding: 0 .25em;
    color: var(--forth-color);
    font-size: 1.5vw;
    font-weight: lighter;
}

.page-header nav ul li a:hover {
    box-shadow: 2px 2px 2px var(--fifth-color);
    transition: ease-in .25s;
}

.page-header nav ul li a:focus {
    box-shadow: 2px 2px 2px var(--fifth-color);
    background-color: var(--forth-color);
    color: var(--first-color);
}

.page-header a {
    text-decoration: none;
}


/* HEADER STYLES ---------- END */


/* ABOUT-ME STYLES ------ START */

.about {
    justify-content: space-between;
    align-content: center;
}

.about-me {
    flex: .5 0 500px;
    display: flex;
    flex-wrap: wrap;
    color: var(--fifth-color);
    background-color: var(--forth-color);
    border-radius: 10px;
    padding: 1.8em;
    font-size: 22px;
    font-weight: lighter;
    box-shadow: .3em .3em 8px rgba(165, 165, 165, 0.7);
}

.about-me p {
    opacity: 1.5;
}

.about img {
    margin: auto;
    width: 25vw;
    height: 25vw;
    min-width: 200px;
    min-height: 200px;
    max-height: 400px;
    max-width: 400px;
}


/* ABOUT-ME STYLES -------- END */


/* MY-WORK -------------- START */
#work {
    width: 70%;
    margin: auto;
}

.work-prim {
    background-color: red;
    grid-column: auto / span 3;
    grid-row: auto / span 2;
    height: 0;
    padding-bottom: 100%;
}

.work-sec  {
    background-color: blue;
    grid-column: auto / span 3;
    height: 0;
    padding-bottom: calc(50% - .5vw);
}

.work-ter {
    background-color: violet;
    grid-column: auto / span 3;
    height: 0;
    padding-bottom: calc(50% - .5vw);
}

.tile {
    border-radius: .8vw;
    

}


/* MEDIA QUERIES  */
@media screen and (min-width:1500px) {
    .container-grid {
        grid-template-columns: repeat(9, minmax(5em, 1fr));
    }
    
}

@media screen and (max-width:1200px) {
    .flex {
        margin-bottom: 1em;
    }
    .about {
        flex-flow: column;
    }
    .about-me {
        flex: 0;
    }
}

@media screen and (max-width:900px) {
    .container-grid {
        grid-template-columns: repeat(3, minmax(5em, 1fr));
    }
    
}