/* UNIVERSAL STYLES ----- START*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --favorite-color: ;
    --first-color: #0d1b2a;
    --second-color: #1b263b;
    --third-color: #415a77;
    --forth-color: #778da9;
    --fifth-color: #e0e1dd;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    font-weight: bold;
}

body {
    font-family: "Trebuchet MS", "sans-serif";
}

/* UNIVERSAL STYLES ------- END */


/* HEADER STYLES -------- START */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width:100%;
    background-color:var(--first-color);
    padding: 40px 0;
    
}

header h1 {
    color: var(--forth-color);
}

header img {
    position: absolute;
    left: 5px;
    top:5px;
    width:200px;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

header nav ul li a{
    margin: 0 25px;
    padding:0 5px;
    color: var(--forth-color);
    font-size: 1.5vw;
    font-weight: lighter;
    
}

header nav ul li a:hover {
    box-shadow: 2px 2px 2px var(--fifth-color);
}

header nav ul li a:focus {
    box-shadow: 2px 2px 2px var(--fifth-color);
    background-color: var(--forth-color);
    color: var(--first-color);
}

header a {
    text-decoration: none;
}

/* HEADER STYLES ---------- END */


/* HERO STYLES ---------- START */
.hero {
    background-color: var(--third-color);
    height: 150px;
}
/* HERO STYLE ------------- END */


/* ABOUT-ME STYLES ------ START */
.about {
    margin:15px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:80%;
    align-content: space-around;
}

.about-me-title{
    flex: 15%;
}

.about-me {
    flex: 0 0 85%;
    display: flex;
    flex-wrap: wrap;
}
/* ABOUT-ME STYLES -------- END */