/* UNIVERSAL STYLES ----- START*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --favorite-color: ;
    --first-color: #0d1b2a;
    --second-color: #1b263b;
    --third-color: #415a77;
    --forth-color: rgb(119, 141, 169);
    --fifth-color: #e0e1dd;
    --drop-shadow: rgb(128, 128, 128);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    font-weight: bold;
    flex: 100%;
    color: var(--first-color);
    margin-bottom:2em;
    text-shadow: .25em .2em 4px var(--drop-shadow);
}

.container-template {
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    width:80%;
    margin-top:2em;
    margin-bottom:5em;   
}

body {
    font-family: "Trebuchet MS", "sans-serif";
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-position: 30% 50%;
}

/* UNIVERSAL STYLES ------- END */



/* HEADER STYLES -------- START */
.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width:100%;
    background: rgb(3,22,42);
    background: linear-gradient(180deg, var(--first-color) 0%, rgb(25, 52, 80) 99%);
    padding: 20px 0;
}

.page-header h1 {
    color: var(--forth-color);
}

.page-header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-header nav ul li a{
    margin: 0 .5em;
    padding:0 1em;
    color: var(--forth-color);
    font-size: 1.5vw;
    font-weight: lighter;
    transition:ease-in .25s;
}

.page-header nav ul li a:hover {
    box-shadow: 2px 2px 2px var(--fifth-color);
}

.page-header nav ul li a:focus {
    box-shadow: 2px 2px 2px var(--fifth-color);
    background-color: var(--forth-color);
    color: var(--first-color);
}

.page-header a {
    text-decoration: none;
}

/* HEADER STYLES ---------- END */



/* HERO STYLES ---------- START */
.hero {
    background-color: var(--third-color);
    height: 150px;
}
/* HERO STYLE ------------- END */



/* ABOUT-ME STYLES ------ START */
.about { 
    justify-content: space-between;
    align-content: center;
}

.about-me {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    color:var(--fifth-color);
    background-color: var(--forth-color);
    border-radius: 10px;
    padding:1.8em;
    font-size: 22px;
    font-weight: lighter;
    box-shadow: .25em .25em 6px rgb(161, 161, 161,.7);
}

.about-me p{
    opacity: 1.5;
}

.about img {
    width:25vw;
    height:25vw;
    margin:auto;
}

/* ABOUT-ME STYLES -------- END */



/* WORK STYLES ---------- START */
.my-work {
    margin: 15px auto;
    display:flex;
    width:80%;
}

.primary-work {
    flex: 1 0 85%;
    display: flex;
    flex-wrap: wrap;
}

.primary-work img {
    max-width:100%;
    max-height:auto;
}
/* WORK STYLES ------------ END */